.sidebar-container {
  display: flex;
  justify-content: space-between;
}
.sidebar .active {
  color: white;
  background-color: rgba(4, 119, 35, 0.745);
}
.sidebar-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.sidebar-option .icon {
  font-size: 26px;
}
.sidebar {
  width: 25%;
  background-color: beige;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 5vw 4vw;
}
.sidebar-option {
  padding: 6px 10px;
  background-color: tomato;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.sidebar-option p {
  display: flex;
  gap: 10px;
}
.view-panel {
  background-color: beige;
  width: 75vw;
  border-left: 2px solid tomato;
  padding: 2vw;
}
.sidebar-option {
  cursor: pointer;
}

@media (max-width: 1050px) {
  .sidebar-container {
    padding: 10px;
    margin: 5px;
  }

  .sidebar-option .icon {
    font-size: 30px;
  }
  .sidebar {
    padding: 16px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .sidebar-option {
    justify-content: center;
    align-items: center;
  }
  .sidebar-option p {
    display: none;
  }
}
