.banner-container {
  margin-top: 2vw;
  width: 100%;
  position: relative;
}
.banner-text {
  border: 5px solid tomato;
  border-radius: 50px 5px 50px 5px;
  padding: 2vw;
  background-color: rgba(245, 245, 220, 0.657);
  position: absolute;
  top: 20%;
  left: 15%;
  transition: 0.3s ease-in-out;
}
.banner-text:hover {
  background-color: rgba(245, 245, 220, 0.851);
}
.banner-text h3 {
  font-size: 3.5vw;
  color: rgb(245, 47, 12);
  opacity: 1;
}
.banner-text p {
  font-weight: 600;
  font-size: 2vw;
}
.banner-img img {
  opacity: 0.9;
  width: 100%;
  border: 5px;
  background-position: center;
  transition: 0.2s ease-in-out;
}
